openapi: 3.0.3
info:
  title: Capital One Slingshot API
  version: 1.0.0
  description: 'The Slingshot public API documentation for the Python SDK. This API
    allows

    users to manage projects, generate recommendations, and access utility endpoints.

    '
servers:
- url: https://slingshot.capitalone.com/prod/api/gradient
  description: Production Environment
tags:
- name: Projects
  description: Manage projects, including creation, updates, and deletion.
- name: Recommendations
  description: Generate and fetch project recommendations.
- name: Utility
  description: Health and utility endpoints.
security:
- ApiKeyAuth: []
paths:
  /projects:
    get:
      tags:
      - Projects
      summary: List all projects
      operationId: listAllProjects
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: 1-based page index.
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
        description: Page size.
      - in: query
        name: sort
        schema:
          type: string
          example: created_at:desc
        description: Optional sort (field:direction).
      responses:
        '200':
          description: A paginated list of projects.
          headers:
            X-Total-Count:
              description: Total number of projects across all pages.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                required:
                - page
                - size
                - total
                - items
                properties:
                  page:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
              examples:
                sample:
                  value:
                    page: 1
                    size: 2
                    total: 42
                    items:
                    - id: proj_123
                      name: Fraud Scoring
                      description: Detect anomalous transactions
                      created_at: '2024-05-10T12:30:00Z'
                      updated_at: '2024-06-01T09:00:00Z'
                    - id: proj_124
                      name: Churn Model
                      description: Predict churn propensity
                      created_at: '2024-05-11T08:00:00Z'
                      updated_at: '2024-06-02T10:15:00Z'
    post:
      tags:
      - Projects
      summary: Create a new project
      operationId: createNewProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - workspaceId
              properties:
                name:
                  type: string
                workspaceId:
                  type: string
                description:
                  type: string
                  nullable: true
            examples:
              sample:
                value:
                  name: Pricing Optimization
                  workspaceId: '12345678901234'
                  description: Optimize price points for conversions
      responses:
        '201':
          description: Project created successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
              examples:
                sample:
                  value:
                    id: proj_125
                    name: Pricing Optimization
                    description: Optimize price points for conversions
                    created_at: '2024-07-01T10:00:00Z'
                    updated_at: '2024-07-01T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
                      properties:
                        loc:
                          type: array
                          items:
                            type: string
                          example:
                          - query
                          - page
                        msg:
                          type: string
                          example: Invalid page size.
                        type:
                          type: string
                          example: value_error
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Authentication required.
        '409':
          description: Conflict with existing resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Project with this name already exists.
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
                      properties:
                        loc:
                          type: array
                          items:
                            type: string
                          example:
                          - body
                          - name
                        msg:
                          type: string
                          example: This field is required.
                        type:
                          type: string
                          example: value_error.missing
  /projects/{project_id}:
    get:
      tags:
      - Projects
      summary: Retrieve a specific project
      operationId: getProjectById
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: string
        description: Unique identifier for the project.
      responses:
        '200':
          description: Project details.
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
              examples:
                sample:
                  value:
                    id: proj_123
                    name: Fraud Scoring
                    description: Detect anomalous transactions
                    created_at: '2024-05-10T12:30:00Z'
                    updated_at: '2024-06-01T09:00:00Z'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: The requested resource was not found.
    patch:
      tags:
      - Projects
      summary: Update a project
      operationId: updateProjectById
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: string
        description: Unique identifier for the project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial update; fields optional.
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
            examples:
              sample:
                value:
                  description: Updated project description
      responses:
        '200':
          description: Project updated successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: The requested resource was not found.
        '409':
          description: Conflict with existing resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Project with this name already exists.
  /projects/{project_id}/recommendations:
    post:
      tags:
      - Recommendations
      summary: Create a recommendation for a project
      operationId: createRecommendationForProject
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: string
        description: Unique identifier for the project.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                strategy:
                  type: string
                  description: Recommendation strategy identifier.
                  example: cost_savings
                parameters:
                  type: object
                  additionalProperties: true
                  description: Strategy-specific parameters.
            examples:
              sample:
                value:
                  strategy: cost_savings
                  parameters:
                    threshold: 0.8
      responses:
        '201':
          description: Recommendation created successfully.
          content:
            application/json:
              schema:
                type: object
                description: Recommendation details.
                properties:
                  id:
                    type: string
                    example: rec_abc123
                  project_id:
                    type: string
                    example: proj_123
                  created_at:
                    type: string
                    format: date-time
                  state:
                    type: string
                    enum:
                    - pending
                    - running
                    - complete
                    - failed
                  summary:
                    type: string
                    example: Reduce instance size by one tier during off-peak hours.
                  details:
                    type: object
                    additionalProperties: true
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: The requested resource was not found.
  /projects/{project_id}/reset:
    post:
      tags:
      - Utility
      summary: Reset a project, removing all submissions data
      operationId: resetProject
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: string
        description: Unique identifier for the project.
      responses:
        '204':
          description: Project reset successfully.
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: The requested resource was not found.
  /projects/{project_id}/recommendations/{recommendation_id}/apply:
    post:
      tags:
      - Recommendations
      summary: Apply a recommendation to a project
      operationId: applyRecommendation
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: string
        description: Unique identifier for the project.
      - in: path
        name: recommendation_id
        required: true
        schema:
          type: string
        description: Unique identifier for the recommendation.
      responses:
        '200':
          description: Recommendation applied.
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: The requested resource was not found.
        '409':
          description: Conflict with existing resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Project with this name already exists.
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
                      properties:
                        loc:
                          type: array
                          items:
                            type: string
                          example:
                          - body
                          - name
                        msg:
                          type: string
                          example: This field is required.
                        type:
                          type: string
                          example: value_error.missing
        '503':
          description: Service is temporarily unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: We have been notified of the error and are looking into
                      the issue.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  parameters:
    ProjectId:
      in: path
      name: project_id
      required: true
      schema:
        type: string
      description: Unique identifier for the project.
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 1-based page index.
    RecommendationId:
      in: path
      name: recommendation_id
      required: true
      schema:
        type: string
      description: Unique identifier for the recommendation.
    Size:
      in: query
      name: size
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Page size.
    Sort:
      in: query
      name: sort
      schema:
        type: string
        example: created_at:desc
      description: Optional sort (field:direction).
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: array
                items:
                  type: object
                  properties:
                    loc:
                      type: array
                      items:
                        type: string
                      example:
                      - query
                      - page
                    msg:
                      type: string
                      example: Invalid page size.
                    type:
                      type: string
                      example: value_error
    Unauthorized:
      description: Unauthorized access.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Authentication required.
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: The requested resource was not found.
    Conflict:
      description: Conflict with existing resource.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Project with this name already exists.
    UnprocessableEntity:
      description: Validation error.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: array
                items:
                  type: object
                  properties:
                    loc:
                      type: array
                      items:
                        type: string
                      example:
                      - body
                      - name
                    msg:
                      type: string
                      example: This field is required.
                    type:
                      type: string
                      example: value_error.missing
    ServiceUnavailable:
      description: Service is temporarily unavailable.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: We have been notified of the error and are looking into the
                  issue.
  schemas:
    Project:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectCreate:
      type: object
      required:
      - name
      - workspaceId
      properties:
        name:
          type: string
        workspaceId:
          type: string
        description:
          type: string
          nullable: true
    ProjectUpdate:
      type: object
      description: Partial update; fields optional.
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
    ProjectPage:
      type: object
      required:
      - page
      - size
      - total
      - items
      properties:
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
        items:
          type: array
          items:
            type: object
            required:
            - id
            - name
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
                nullable: true
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
    RecommendationCreate:
      type: object
      properties:
        strategy:
          type: string
          description: Recommendation strategy identifier.
          example: cost_savings
        parameters:
          type: object
          additionalProperties: true
          description: Strategy-specific parameters.
    Recommendation:
      type: object
      description: Recommendation details.
      properties:
        id:
          type: string
          example: rec_abc123
        project_id:
          type: string
          example: proj_123
        created_at:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - pending
          - running
          - complete
          - failed
        summary:
          type: string
          example: Reduce instance size by one tier during off-peak hours.
        details:
          type: object
          additionalProperties: true
    BadRequestError:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              loc:
                type: array
                items:
                  type: string
                example:
                - query
                - page
              msg:
                type: string
                example: Invalid page size.
              type:
                type: string
                example: value_error
    UnauthorizedError:
      type: object
      properties:
        detail:
          type: string
          example: Authentication required.
    NotFoundError:
      type: object
      properties:
        detail:
          type: string
          example: The requested resource was not found.
    ConflictError:
      type: object
      properties:
        detail:
          type: string
          example: Project with this name already exists.
    ValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              loc:
                type: array
                items:
                  type: string
                example:
                - body
                - name
              msg:
                type: string
                example: This field is required.
              type:
                type: string
                example: value_error.missing
    ServiceUnavailableError:
      type: object
      properties:
        detail:
          type: string
          example: We have been notified of the error and are looking into the issue.
